.img1 {
  background: url(../public/img/head/Hphoto3.jpg);
  border-radius: 6px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.img2 {
  background: url(../public/img/head/Hphoto2.jpg);
  border-radius: 6px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.img3 {
  background: url(../public/img/head/Hphoto4.jpg);
  border-radius: 6px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
